<p>f3 works!</p>


<form [formGroup]="newRegForm" (ngSubmit)="onShukiSubmit()">
  
    <label> Name: <input formControlName="name"> </label><br>
    <validation-error [ctrl]="newRegForm.controls.name"></validation-error>

    <label> age: <input  formControlName="age"> </label><br>
    <validation-error [ctrl]="newRegForm.controls.age"></validation-error>

    <label> girraf: <input  formControlName="girraf"> </label><br>
    <validation-error [ctrl]="newRegForm.controls.girraf"></validation-error>

    <label> email: <input  formControlName="email"> </label><br>
    <validation-error [ctrl]="newRegForm.controls.email"></validation-error>

    <br><br>
  
    <button type="submit" [disabled]="!newRegForm.valid">Submit</button>
</form>


